// === Mixins ===

@mixin quicksand() {
  font-family: "Quicksand", sans-serif;
}

// === / Mixins ===

// === Variables ===

$fw-medium: 500;
$fw-bold: 700;

$fs-l: 20px;

$transition: 0.2s;
// === /Variables ===

// === Common ===

body {
  margin: 0;
  @include quicksand();
}

.btn {
  border: 1px solid #000;
  padding: 5px 10px;
  font-size: $fs-l;
  transition: $transition;
  background-color: #fff;
  cursor: pointer;
}

.input {
  max-width: 50px;
  padding: 5px 10px;
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: $fs-l;
  outline: none;
  text-align: center;
}

// === / Common ===

// === Cart ===

.container-outer {
  padding: 0 20px;
}

.container-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.cart {
  display: block;
  margin: 0 auto;
}

.cart-header {
  display: block;
  &__row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: $fs-l;
    border-bottom: 1px solid #000;

    &-cell {
      flex-basis: 25%;
      padding: 0 10px;
    }
  }
}

.cart-body {
  display: block;

  &__row {
    display: flex;
    align-items: center;
    padding: 20px 0;
    font-size: $fs-l;
    border-bottom: 1px solid #cecece;

    &-cell {
      flex-basis: 25%;
      padding: 0 10px;
      text-align: center;
      font-weight: $fw-medium;
    }
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-price {
  padding: 10px 0;
  text-align: center;
  font-size: $fs-l;
  font-weight: $fw-bold;
}

// === / Cart ===
